<div class="card shadow text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <div>
            <button class="btn btn-primary" (click)="OpenProjectModal()">More info</button>
        </div>
    </div>

    <div class="card-footer">

        <div class="tech_icons">
            <div *ngFor="let tag of project.tags">

                <div>
                    <img src={{tag.toString()}} alt={{tag.alt}}>
                </div>

            </div>
        </div>
    </div>

</div>