<nav class="navbar-expand-md border-bottom mb-3 custom-navbar">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/home" class="nav-link" routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link" routerLinkActive="active-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="/resume" class="nav-link" routerLinkActive="active-link">Resume</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link" routerLinkActive="active-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>
