<nav class="navbar-exapand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/home" class="nav-link text-secondary" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link text-secondary" routerLinkActive="text-dark">Projects</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link text-secondary" routerLinkActive="text-dark">Contact</a>
            </li>
        </ul>
    </div>
</nav>