<div class="modal-header">
    <h2>{{project.name}}</h2>
    <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
    <carousel>

        <div *ngFor="let picture of project.pictures">
            <slide><img src={{picture}} alt={{picture}} style="display: block; width: 100%;"></slide>
        </div>

    </carousel>

    <h3 class="mt-2">Description</h3>
    <p [innerHTML]="project.description"></p>

    <div class="buttons">

        <a href={{project.projectLinks[0]}}>
            <button class="btn btn-primary">Github Repo</button>
        </a>
    
        <div *ngIf="project.projectLinks[1]" class="deploybutton">
            <a href={{project.projectLinks[1]}}>
                <button class="btn btn-primary">Deploy</button>
            </a>
        </div>   
    </div>
    
    <hr>

    <div class="d-flex flex-wrap">
        <div class="tech_icons">
            <div *ngFor="let tag of project.tags">

                <div>
                    <img src={{tag.toString()}} alt='algo'>
                </div>

            </div>
        </div>
    </div>

</div>