accordion-group::ng-deep .btn-link{
    color:white
}

accordion-group::ng-deep .card-header{
    background-color: #333333;
}

.btn-link {
    text-decoration: none; 
    font-weight: bold;   
}

h6 {
    color: rgb(68, 68, 68);
}

.tech_icons {
    justify-content: left;
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 5px 0;
    gap: 10px;

}

.tech_icons img {
    max-width: 50px;
}