<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white">➡️</div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white">⬇️</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0"> Programming Teacher</h2>
                    <h3 class="text-primary"> Codign Giants</h3>
                    <h6>January 2024 - Present</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                        <li>Quasi sunt impedit saepe, consectetur a illo quod incidunt labore magnam id reiciendis
                            tempore error corrupti!</li>
                        <li> Consectetur asperiores error quia libero ullam?</li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0"> Trainee Backend Developer</h2>
                    <h3 class="text-primary"> Solvd Inc</h3>
                    <h6>March 2024 - Present</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                        <li>Quasi sunt impedit saepe, consectetur a illo quod incidunt labore magnam id reiciendis
                            tempore error corrupti!</li>
                        <li> Consectetur asperiores error quia libero ullam?</li>
                    </ul>
                </div>

            </accordion-group>

            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white">➡️</div>
                        <div *ngIf="isEducationOpen" style="color: white">⬇️</div>
                    </div>

                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0"> Computer Systems Analyst</h2>
                    <h3 class="text-primary"> Instituto Nuestra Señora de las Nieves</h3>
                    <h6>March 2022 - December 2024</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                        <li>Quasi sunt impedit saepe, consectetur a illo quod incidunt labore magnam id reiciendis
                            tempore error corrupti!</li>
                        <li> Consectetur asperiores error quia libero ullam?</li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0"> Full Stack Developer Bootcamp</h2>
                    <h3 class="text-primary"> SoyHenry</h3>
                    <h6>August 2023 - November 2023</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                        <li>Quasi sunt impedit saepe, consectetur a illo quod incidunt labore magnam id reiciendis
                            tempore error corrupti!</li>
                        <li> Consectetur asperiores error quia libero ullam?</li>
                    </ul>
                </div>


            </accordion-group>

            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white">➡️</div>
                        <div *ngIf="isCertificationsOpen" style="color: white">⬇️</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h3> Full Stack Web Developer</h3>
                    <h6> Obtained November 2023</h6>
                    <a href="https://certificates.soyhenry.com/new-cert?id=4295b5ea5e17ee825efabab73fc3316405102cfd45c1bc06860312c8c3bcc531" target="_blank">
                        <button class="btn btn-primary mb-5 shadow border">View</button>
                    </a>
     
                    <h3> EF SET English Certificate 69/100 (C1 Advanced)</h3>
                    <h6> Obtained July 2024</h6>
                    <a href="https://cert.efset.org/gLVnxd" target="_blank">
                        <button class="btn btn-primary mb-5 shadow border">View</button>
                    </a>
                </div>



            </accordion-group>

            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white">➡️</div>
                        <div *ngIf="isSkillsOpen" style="color: white">⬇️</div>
                    </div>

                </button>

            </accordion-group>

        </accordion>
    </div>


</div>