<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white">➡️</div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white">⬇️</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0"> Programming Teacher</h2>
                    <h3 class="text-primary"> Codign Giants</h3>
                    <h6>January 2024 - Present</h6>
                    <ul>
                        <li>Taught software development to children and teenagers (ages 6 to 18), focusing on practical software and video game design.</li>
                        <li>Used C#, Python, HTML, CSS, JavaScript, and platforms like Minecraft Education, Roblox with Lua, and Scratch.</li>
                        <li>Adapted tools and languages to suit the age and experience levels of students for engaging learning experiences.</li>
                    </ul>

                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0"> Trainee Backend Developer</h2>
                    <h3 class="text-primary">Solvd Inc</h3>
                    <h6>March 2024 - Present</h6>
                    <ul>
                        <li>Conducting in-depth theoretical and practical studies of server-side development in web applications using Node.js.</li>
                        <li>Implementing and managing databases, utilizing Docker, and applying data structures to optimize application performance.</li>
                        <li>Ensuring code quality through testing practices, basic CI/CD processes, and adherence to SOLID principles, while contributing to essential software development knowledge.</li>
                    </ul>
                </div>

            </accordion-group>

            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white">➡️</div>
                        <div *ngIf="isEducationOpen" style="color: white">⬇️</div>
                    </div>

                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Computer Systems Analyst</h2>
                    <h3 class="text-primary">Instituto Nuestra Señora de las Nieves</h3>
                    <h6>March 2022 - December 2024</h6>
                    <ul>
                        <li>Currently in the third year of the Computer Systems Analyst carreer, with 15 subjects approved over the past 2 years.</li>
                        <li>Focused on in-depth studies of networks, software engineering, software design, and computer systems.</li>
                        <li>Expected to complete the program in 2024.</li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0">Full Stack Developer Bootcamp</h2>
                    <h3 class="text-primary">SoyHenry</h3>
                    <h6>August 2023 - November 2023</h6>
                    <ul>
                        <li>Intensive study of technologies used for web application development, covering both Backend and Frontend.</li>
                        <li>Combined theoretical and practical learning, culminating in the completion of three hands-on projects.</li>
                        <li>Gained valuable experience in modern web development practices and tools, also soft skills as team work.</li>
                    </ul>
                </div>


            </accordion-group>

            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white">➡️</div>
                        <div *ngIf="isCertificationsOpen" style="color: white">⬇️</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h3> Full Stack Web Developer</h3>
                    <h6> Obtained November 2023</h6>
                    <a href="https://certificates.soyhenry.com/new-cert?id=4295b5ea5e17ee825efabab73fc3316405102cfd45c1bc06860312c8c3bcc531"
                        target="_blank">
                        <button class="btn btn-primary mb-5 shadow border">View</button>
                    </a>

                    <h3> EF SET English Certificate 69/100 (C1 Advanced)</h3>
                    <h6> Obtained July 2024</h6>
                    <a href="https://cert.efset.org/gLVnxd" target="_blank">
                        <button class="btn btn-primary mb-5 shadow border">View</button>
                    </a>
                </div>



            </accordion-group>

            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div stlye="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white">➡️</div>
                        <div *ngIf="isSkillsOpen" style="color: white">⬇️</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0"> Main Stack:</h2>
                    <br>
                    <div class="tech_icons">
                        <div *ngFor="let tech of mainStack">

                            <div>
                                <img [src]="tech.toString()" [alt]="tech.alt" title="{{tech.alt}}">
                            </div>

                        </div>

                    </div>

                    <hr>

                    <h2 class="mb-0"> I also have knowloge in:</h2>

                    <br>
                    <div class="tech_icons">
                        <div *ngFor="let tech of otherSkills">
                            <div>
                                <img [src]="tech.toString()" [alt]="tech.alt" title="{{tech.alt}}">
                            </div>
                        </div>
                    </div>
                </div>

            </accordion-group>

        </accordion>
    </div>


</div>