accordion-group::ng-deep .btn-link{
    color:white
}

accordion-group::ng-deep .card-header{
    background-color: #333333;
}

.btn-link {
    text-decoration: none; 
    font-weight: bold;   
}

h6 {
    color: rgb(68, 68, 68);
}