/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}

.tech_icons {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 5px 0;
    gap: 10px;

}

.tech_icons img {
    max-width: 50px;
}