<div class="container">
    <div class="row">

        <div class="col-lg shadow border m-3 text-center">
            <h2>About me</h2>
            <img src="../../assets/foto curriculum.jpg" alt="profile picture">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores modi aperiam ipsam optio, praesentium autem reprehenderit qui in explicabo a! Pariatur fugiat id mollitia suscipit quis, asperiores tempore sunt nobis.</p>
        </div>

        <div class="col-lg shadow border m-3 text-center">
            <h2>Project</h2>
            <h4>{{featuredProject.name}}</h4>
        </div>

    </div>

</div>