<div class="container">
    <div class="row">

        <div class="col-lg shadow border m-3 text-center">


            <h2>About me</h2>
            <img src="assets/profile_picture.png" alt="profile picture" width="256" height="256" class="rounded-circle">

            <div class="greeting">
                <p>
                    <strong>Hello!</strong><br>

                    <b>I'm Juan, a Developer from Buenos Aires, Argentina.</b><br>
                </p>

                <p>
                    This 2024, I will complete my studies as a Computer Systems Analyst, and to complement my education,
                    I have specialized in web development, focusing on Node.js.

                    Over the past few years, I have worked on various projects, which you can explore on this site to
                    learn more about my work and a little bit about me. I’m always open to new opportunities and
                    perspectives, so don’t hesitate to get in touch if you need my services!
                </p>
                <b>
                    <p>
                        Best regards,<br>
                        Juan
                    </p>
                </b>
            </div>
        </div>

        <div class="col-lg shadow border m-3 text-center">

            <div class="text-center">

                <h2>Featured Project</h2>


            </div>

            <carousel>

                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt={{picture}} style="display: block; width: 100%;"></slide>
                </div>

            </carousel>

            <div class="greeting">
                <strong>Summary:</strong><br>
                <p class="mt-2">{{featuredProject.summary}}</p>

                <strong>Stack</strong>


                <div class="tech_icons">

                    <div *ngFor="let tech of featuredProject.tags">

                        <div>
                            <img src={{tech.toString()}} [alt]="tech.alt" title="{{tech.alt}}" >
                        </div>

                    </div>
                </div>
                <hr>
                <br>
                <b>
                    <p>Visit the Projects section to learn more!</p>
                </b>
            </div>
        </div>
    </div>
</div>